.form {
  display: flex;
  gap: .5rem;
}

.form input[type="text"] {
  flex: 1;
  height: 3.25rem;
  padding: 1rem;
  color: var(--gray-100);
  background: var(--gray-500);
  border: none;
  border-radius: 8px;
  outline: 1px solid var(--gray-700);
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, .25);
}

.form input[type="text"]::placeholder {
  color: var(--gray-300);
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: 5.625rem;
  height: 3.25rem;
  line-height: 0;
  font-size: .875rem;
  font-weight: 700;
  color: var(--gray-100);
  background: var(--blue-500);
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, .25);
  cursor: pointer;
}

.form button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.form button:not(:disabled):hover {
  background: var(--blue-400)
}